/* ==========================================================================
   Address Bar / Main Bar
   ========================================================================== */

div.mainbar {
  border: none !important;
}

/* --------------------------------------------------------------------------
   Address Field
   -------------------------------------------------------------------------- */

/* Center text */
.UrlField {
  justify-content: center;
}

.UrlField .UrlBar-UrlField {
  text-align: center;
}

/* Default style mod */
.UrlBar-AddressField {
  border: 0 !important;
  outline: 0 !important;
  outline-offset: 0 !important;
  padding: 5px !important;
  max-width: 70vw;
  height: 24px !important;
  margin: auto !important;
  background-color: var(--colorAccentFgAlphaHeavy);
}

/* --------------------------------------------------------------------------
   URL Display
   -------------------------------------------------------------------------- */

/* URL Base-domain */
.UrlFragment-HostFragment-Basedomain {
  color: var(--colorHighlightBg) !important;
  font-weight: 900;
}

/* URL Sub-domain (e.g., the part after the dot like .com) */
.UrlFragment-HostFragment-Subdomain,
.UrlFragment-HostFragment-TLD {
  color: var(--colorFgIntense) !important;
  font-weight: 600;
}

/* --------------------------------------------------------------------------
   Bookmarks
   -------------------------------------------------------------------------- */

button.button-on path.bookmark-outline {
  fill: var(--colorHighlightBg) !important;
}

.add-bookmark-shadow,
.bookmark-animated-fill {
  display: none;
}

/* --------------------------------------------------------------------------
   Clock
   -------------------------------------------------------------------------- */

button[name="Clock"] {
  color: var(--colorHighlightBg) !important;
}

/* --------------------------------------------------------------------------
   Extensions
   -------------------------------------------------------------------------- */

/* Extensions icon and extendable bar background */
button[name="Extensions"] {
  color: var(--colorHighlightBg) !important;
}

/* --------------------------------------------------------------------------
   Navigation Controls
   -------------------------------------------------------------------------- */

/* Home Button */
button[name="Home"] {
  color: var(--colorHighlightBg) !important;
}

/* Previous Page / Back Button */
button[name="Back"] {
  color: var(--colorHighlightBg) !important;
}

/* --------------------------------------------------------------------------
   Private Browsing
   -------------------------------------------------------------------------- */

div[title="Private Browsing Window"] {
  color: var(--colorHighlightBg) !important;
}