/* Resize Bookmark Bar */
.bookmark-bar {
  height: 22px !important;
  background-color: var(--colorBg) !important;
  border: none !important;
}

/* Icon Colors */
svg.folder-icon svg path {
  fill: var(--colorHighlightBg) !important;
  fill-opacity: 1 !important;
}
