/* resize bookmark tab */
.bookmark-bar {
    height: 22px !important;
    background-color: var(--colorBg) !important;
    border: none !important;
}

/* ICON COLORS */
svg.folder-icon svg path {
    fill: var(--colorHighlightBg) !important;
    fill-opacity: 1 !important;
}
