/* ==========================================================================
   Panel
   ========================================================================== */

/* --------------------------------------------------------------------------
   Panel Buttons
   -------------------------------------------------------------------------- */

/* Panel Buttons color */
button[name="Divider"],
button[title="Add Web Panel"],
button[name="COMMAND_ac202c3e-c276-40c3-943f-9e4ccb057f99"],
button[name="Settings"],
button[name="PanelHistory"] {
  color: var(--colorHighlightBg) !important;
}

/* --------------------------------------------------------------------------
   Panel Window
   -------------------------------------------------------------------------- */

/* Border On Panel Window */
div.panel-group {
  border: 1px solid var(--colorHighlightBg) !important;
}

/* Panel Window Header */
header.webpanel-header {
  display: none !important;
}