/* auto expand on hover */

/* #tabs-tabbar-container:hover { */
/*   width: 200px !important; */
/* } */

/* workspace button */

button[title="Workspaces"] {
  color: var(--colorHighlightBg) !important;
  background-color: var(--colorBg) !important;
}

button[name="WorkspaceButton"] {
  color: var(--colorHighlightBg) !important;
  background-color: var(--colorBg) !important;
}

/* Horizonatal scrolling buttons */

button[aria-label="Scroll left"] {
  display: none !important;
}

button[aria-label="Scroll right"] {
  display: none !important;
}

/*favicon*/

span.favicon.jstest-favicon-image {
  filter: none !important;
}
.tab.pinned.active span.favicon.jstest-favicon-image {
  margin-top: -2px !important;
}

/* tab background */

div.tab {
  background-color: var(--colorAccentBgFadedMore) !important;
  font-weight: bold !important;
  border-radius: var(--radius) !important;
}

/*Active tab*/

.tab.active {
  background-color: var(--colorHighlightBgDark) !important;
  font-weight: bold !important;
}

/*Pinned tab*/

.tab.pinned {
  background-color: var(--colorAccentBgFadedMore) !important;
}

.tab.pinned.active {
  background-color: var(--colorHighlightBgDark) !important;
  color: var(--colorHighlightFg) !important;
  margin-top: 1px !important;
}

.tab.pinned.active .tab-audio {
  margin-top: -6px !important;
}

/*Hibernated tabs*/

.tab.isdiscarded {
  background-color: var(--colorAccentBgFadedMost) !important;
  color: var(--colorFgFadedMore) !important;
}

/*tooltip*/

.thumbnail-image {
  display: none !important;
}

/*WorkSpace button*/

span.button-icon {
  font-size: 25px !important;
}

/* compact tab stack */

div.tab-indicator {
  background-color: var(--colorHighlightBgFaded) !important;
}

div.tab-indicator.active {
  background-color: var(--colorHighlightBgDark) !important;
}

/*tab stack*/

div.is-substack {
  --colorBgAlpha: var(--colorHighlightBgDark) !important;
  --colorAccentBg: transparent !important;
}

/* div.stack-counter { */
/*    display: none !important;  */
/* } */

/* Colored Tab stack */
#browser .tab-position.colored.accordion-toggle-arrow,
#browser .tab-position.colored .tab:not(.active) {
  color: var(--colorHighlightFg) !important;
}

/* tabbar in tab stack*/
div#tabs-subcontainer {
  background-color: var(--colorBg) !important;
}

/* new tab in the sub bar */
div.button-toolbar.newtab {
  display: none !important;
}

/* lock button */
div.button-toolbar.tabs-unlocked {
  display: none !important;
}

/* New tab button in tab stack */
button[title="New Stacked Tab (Ctrl+T)"] {
  display: none !important;
}

/* Close tooltip Remove */

/* button.close { */
/*   position: relative !important; */
/*   pointer-events: none !important; */
/* } */
