div#tabs-container.top {
    padding: 1px 0px 1px 0px !important;
    background-color: var(--colorBg) !important;
}
button[title="Synced Tabs"] {
    color: var(--colorHighlightBg) !important;
}
button[title="Workspaces"] {
    color: var(--colorHighlightBg) !important;
    background-color: var(--colorAccentBgFadedMore) !important;
    margin: 1px 0px 0px 0px !important;
}
div.tab {
    background-color: var(--colorAccentBgFadedMore) !important;
}

/*tab stack*/

div.stack-counter {
    display: none !important;
    /*color: #ffffff !important;
    background-color: var(--colorAccentBg) !important;*/
}

/* tabbar in tab stack*/

div.tab-strip{
    background-color: var(--colorBg) !important;
}


div.is-substack{
    --colorBgAlpha: var(--colorHighlightBgDark) !important;
}

/*favicon*/

span.favicon.jstest-favicon-image {
    filter: none !important;
}

/*Active tab*/

.tab.active{
    background-color: var(--colorHighlightBgDark) !important;
    color: #ffffff !important;
}

/*Pinned tab*/

.tab.pinned{
    background-color: var(--colorAccentBgFadedMore) !important;
}

.tab.pinned.active{
    background-color: var(--colorHighlightBgDark) !important;
    color: #ffffff !important;
    }

/*Hibernated tabs*/

.tab.isdiscarded{
    background-color: #131313 !important;
    color: #9e9e9e !important;
}

/*tooltip*/

.thumbnail-image{
    display: none !important;
}
