/* ==========================================================================
   Tab Bar
   ========================================================================== */

/* --------------------------------------------------------------------------
   Interaction & Auto-expand
   -------------------------------------------------------------------------- */

/* auto expand on hover */
/* #tabs-tabbar-container:hover { */
/*   width: 200px !important; */
/* } */

/* --------------------------------------------------------------------------
   Workspaces
   -------------------------------------------------------------------------- */

/* workspace button */
button[title="Workspaces"] {
  color: var(--colorHighlightBg) !important;
  background-color: var(--colorBg) !important;
}

button[name="WorkspaceButton"] {
  color: var(--colorHighlightBg) !important;
  background-color: var(--colorBg) !important;
}

/* WorkSpace button icon size */
span.button-icon {
  font-size: 25px !important;
}

/* --------------------------------------------------------------------------
   Scrolling Controls
   -------------------------------------------------------------------------- */

/* Horizonatal scrolling buttons */
button[aria-label="Scroll left"] {
  display: none !important;
}

button[aria-label="Scroll right"] {
  display: none !important;
}

/* --------------------------------------------------------------------------
   Tab Favicons
   -------------------------------------------------------------------------- */

span.favicon.jstest-favicon-image {
  filter: none !important;
}

.tab.pinned.active span.favicon.jstest-favicon-image {
  margin-top: -2px !important;
}

/* --------------------------------------------------------------------------
   Tab Styling
   -------------------------------------------------------------------------- */

/* Tab background */
div.tab {
  background-color: var(--colorAccentBgFadedMore) !important;
  font-weight: bold !important;
  border-radius: var(--radius) !important;
}

/* Active tab */
.tab.active {
  background-color: var(--colorHighlightBgDark) !important;
  font-weight: bold !important;
}

/* Pinned tab */
.tab.pinned {
  background-color: var(--colorAccentBgFadedMore) !important;
}

.tab.pinned.active {
  background-color: var(--colorHighlightBgDark) !important;
  color: var(--colorHighlightFg) !important;
  margin-top: 1px !important;
}

.tab.pinned.active .tab-audio {
  margin-top: -6px !important;
}

/* Hibernated tabs */
.tab.isdiscarded {
  background-color: var(--colorAccentBgFadedMost) !important;
  color: var(--colorFgFadedMore) !important;
}

/* Tooltips */
.thumbnail-image {
  display: none !important;
}

/* --------------------------------------------------------------------------
   Tab Stacks
   -------------------------------------------------------------------------- */

/* Compact tab stack */
div.tab-indicator {
  background-color: var(--colorHighlightBgFaded) !important;
}

div.tab-indicator.active {
  background-color: var(--colorHighlightBgDark) !important;
}

/* Tab stack container */
div.is-substack {
  --colorBgAlpha: var(--colorHighlightBgDark) !important;
  --colorAccentBg: transparent !important;
}

/* div.stack-counter { */
/*    display: none !important;  */
/* } */

/* Colored Tab stack */
#browser .tab-position.colored.accordion-toggle-arrow,
#browser .tab-position.colored .tab:not(.active) {
  color: var(--colorHighlightFg) !important;
}

/* Tabbar in tab stack */
div#tabs-subcontainer {
  background-color: var(--colorBg) !important;
}

/* --------------------------------------------------------------------------
   Tab Bar Controls (Hidden)
   -------------------------------------------------------------------------- */

/* New tab in the sub bar */
div.button-toolbar.newtab {
  display: none !important;
}

/* Lock button */
div.button-toolbar.tabs-unlocked {
  display: none !important;
}

/* New tab button in tab stack */
button[title="New Stacked Tab (Ctrl+T)"] {
  display: none !important;
}

/* Close tooltip Remove */
/* button.close { */
/*   position: relative !important; */
/*   pointer-events: none !important; */
/* } */