/* Hide Images */
.tabswitcher.list img.visual-list-preview {
  visibility: collapse;
  height: 0;
  min-height: 0;
}

/* List */
.visual-list {
  font-size: 20px !important;
}

.tabswitcher.list {
  font-size: 20px !important;
  grid-template-columns: 0px 1fr;
  grid-gap: unset;
  width: 50em;
  max-height: 80vh;
}

/* Hide Scrollbar */
.tabswitcher.list .listed-tabs::-webkit-scrollbar {
  display: none;
}

/* Hide Page icon */
.tabswitcher.list .visual-tab-list-favicon {
  display: none;
}
