/* ==========================================================================
   Window & Global Styles
   ========================================================================== */

/* --------------------------------------------------------------------------
   Header
   -------------------------------------------------------------------------- */

div#header {
  display: none !important;
}

/* --------------------------------------------------------------------------
   Global Typography
   -------------------------------------------------------------------------- */

* {
  font-family: JetBrainsMono Nerd Font, system-ui, sans-serif !important;
  font-size: 14px !important;
}

/* ==========================================================================
   Find Bar
   ========================================================================== */

/* --------------------------------------------------------------------------
   Layout & Positioning
   -------------------------------------------------------------------------- */

/* Find-in-page mod */
.find-in-page-wrapper {
  display: contents;
}

/* Find-in-page floating top */
.find-in-page {
  position: absolute;
  background-color: var(--colorBg);
  border-radius: var(--radius);
  max-width: fit-content;
  margin: 0 auto;
  z-index: 1;
  top: 5px;
  left: 0;
  right: 0;
}

/* --------------------------------------------------------------------------
   Styling & Appearance
   -------------------------------------------------------------------------- */

/* Find-in-page input wider */
.find-in-page .fip-input-container {
  width: 500px;
  max-width: unset;
}

/* Find-in-page transparent if not focused */
.find-in-page:not(:focus-within):not(:hover) {
  opacity: 0.8;
}

/* Find-in-page background colour for no matches */
.find-in-page.fip-nomatches {
  background: darkred;
}

/* Find-in-page result numbers clearer */
.find-in-page .fip-results {
  opacity: 1 !important;
}

/* --------------------------------------------------------------------------
   Behavior & Animations
   -------------------------------------------------------------------------- */

/* Find-in-page hit no animation */
.fip-active-hit {
  display: none;
}

/* Find-in-page hit no page dimming */
#browser:has(.find-in-page) webview {
  filter: none !important;
}

/* ==========================================================================
   Tab Cycler
   ========================================================================== */

/* --------------------------------------------------------------------------
   Visual Adjustments
   -------------------------------------------------------------------------- */

/* Hide Images */
.tabswitcher.list img.visual-list-preview {
  visibility: collapse;
  height: 0;
  min-height: 0;
}

/* List Typography */
.visual-list {
  font-size: 20px !important;
}

/* List Layout */
.tabswitcher.list {
  font-size: 20px !important;
  grid-template-columns: 0px 1fr;
  grid-gap: unset;
  width: 50em;
  max-height: 80vh;
}

/* --------------------------------------------------------------------------
   Scrollbar & Icons
   -------------------------------------------------------------------------- */

/* Hide Scrollbar */
.tabswitcher.list .listed-tabs::-webkit-scrollbar {
  display: none;
}

/* Hide Page icon */
.tabswitcher.list .visual-tab-list-favicon {
  display: none;
}
